<form [formGroup]="userForm" (ngSubmit)="userForm.valid && onSubmit()" >

    <div>
        <label>
            Username : 
            <input type="text" formControlName="username">
        </label>
        
    
    </div>
    
    <section formGroupName="credentials">
        <div>
            <label>
                Email : 
                <input type="text" formControlName="email" required>
            </label>
        </div>
        
        <div>
            <label>
                Password : 
                <input type="password" formControlName="password" required>
            </label>
        </div>
    </section>
    
    <div>
        <label>
            Street : 
            <input type="text" formControlName="street">
        </label>
    </div>
    
    <div>
        <label>
            Postcode : 
            <input type="text" formControlName="postcode">
        </label>
    </div>
    
    <div>
        <label>
            City : 
            <input type="text" formControlName="city">
        </label>
    </div>
    
    <button type="submit" >Sign up</button>
</form>

<section>
    
</section>