<!-- 
<div>
    <label>
        Username : 
        <input type="text" [formControl]="userForm.username">
    </label>
    

</div>

<div>
    <label>
        Email : 
        <input type="text" [formControl]="userForm.email">
    </label>
</div>

<div>
    <label>
        Password : 
        <input type="password" [formControl]="userForm.password">
    </label>
</div>

<div>
    <label>
        Street : 
        <input type="text" [formControl]="userForm.street">
    </label>
</div>

<div>
    <label>
        Postcode : 
        <input type="text" [formControl]="userForm.postcode">
    </label>
</div>

<div>
    <label>
        City : 
        <input type="text" [formControl]="userForm.city">
    </label>
</div>

<button type="submit" (click)="inscription()">Inscription</button>

<section>
    <h1>User information</h1>
    <p>{{newUser.username}} </p>
    <p>{{newUser.email}} </p>
    <p>{{newUser.password}} </p>
    <p>{{newUser.street}} </p>
    <p>{{newUser.postcode}} </p>
    <p>{{newUser.city}} </p>

</section> -->